@import 'mixins',
        'variables',
        'font',
        'animations/animate';

::selection {
	background: rgba($black, .70);
	color: $primary;
}

* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	position: relative;
	background: darken($light, 2%);
	box-sizing: border-box;
	font-family: $basefont;
	margin: 0;
}

div {
	display: block;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

@import 'footer',
        'header',
        'navigation';
