@import 'mixins',
        'variables',
        'font',
        'animations/animate';

::selection {
	background: rgba($black, .70);
	color: $primary;
}

* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	position: relative;
	background: $lightgray;
	box-sizing: border-box;
	font-family: $basefont;
	margin: 0;
}

div {
	display: block;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.main {
    padding-top: 0rem;
    padding-bottom: 15rem;

    &--master {
        padding-top: 10rem;
    }
}

.alert.alert-success,
.alert.alert-danger {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 10;
    padding: 4rem 2rem;
    opacity: 1;

    &.fadeout {
        animation: {
            name: fadeOutRight;
            duration: 1s;
            fill-mode: forwards;
        }
    }
}

.alert.alert-danger {
    padding: 6rem 4rem;
}



@import 'footer',
        'header',
        'navigation';
