.admin {

    &__highlightedname {
        color: darken($primary, 10%);
        font-weight: 800;
    }

    &__users-section {
        padding: 2rem 0;
        position: relative;
    }

    &__activateform {
        position: relative;
        text-align: center;
    }

    &__activeswitch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        input.admin__inputbox {
            position: absolute;
            z-index: 5;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;

            &:checked + .admin__slider {
                background-color: #2196F3;

                &:before {
                    transform: translateX(26px);
                }
            }

            &:focus + .admin__slider {
                box-shadow: 0 0 1px #2196F3;
            }
        }
    }

    &__switchbutton {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: $white;
            transition: .4s;
        }

        &--round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
    }

    &__userstable,
    &__festivalstable,
    &__typestable {
        transition: 250ms $easeInOutQuart;
        position: relative;
        width: 100%;
        opacity: 0;
        display: none;

        tbody {
            tr {
                margin-bottom: 2rem;
                border-bottom: .1rem solid $black;

                .btn {
                    width: 100%;
                }
            }
        }

        &.active {
            display: table;
            opacity: 1;
        }

    }

    &__showbutton {
        position: relative;
        width: 2rem;
        height: 2rem;
        border: none;
        pointer-events: all;
        cursor: pointer;
        background: transparent;

        &:hover {
            &:before,
            &:after {
                top: 75%;
            }
        }

        &:before,
		&:after {
			content: '';
			transition: 500ms $easeInOutQuart;
			position: absolute;
			left: 25%;
			width: 50%;
			top: 50%;
			height: .1rem;
			background: $black;
		}

		&:before {
			transform: rotate(-45deg) translate(45%, 0);
		}

		&:after {
			transform: rotate(45deg) translate(-45%, 0%);
		}

        span {
            position: absolute;
            right: 0;
            top: 0;

            &:after {
                content: '';
                width: 10rem;
                position: absolute;
            }
        }

        &--users {
            span::after {
                content: 'Show users table';
            }
        }

        &--festivals {
            span::after {
                content: 'Show festivals table';
            }
        }

        &--types {
            span::after {
                content: 'Show types table';
            }
        }

        &.hideTable {

            &.admin {
                &__showbutton {
                    &--users span::after {
                        content: 'Hide users table';
                    }

                    &--festivals span::after {
                        content: 'Hide festivals table';
                    }

                    &--types span::after {
                        content: 'Hide types table';
                    }
                }
            }

            &:before,
            &:after {
                top: 25%;
            }

            &:hover {
                &:before,
                &:after {
                    top: 50%;
                }
            }

            &:before {
                transform: rotate(45deg) translate(45%, 0);
            }

            &:after {
                transform: rotate(-45deg) translate(-45%, 0%);
            }
        }
    }

    &__festivalstable-description {
        width: 50%;
    }

    &__confirmdelete {
        position: fixed;
        z-index: 1000000;
        top: 50%;
        left: 50%;
        padding: 2.5rem 3rem;
        transform: translate(-50%, -50%);
        opacity: 0;

        background: $white;
        border: .1rem solid $black;
        border-radius: .75rem;

        animation: {
            name: fadeIn;
            duration: 250ms;
            delay: 500ms;
            fill-mode: forwards;
        }

        &-applybutton {
            left: 50%;
            position: relative;
            transform: translateX(-50%);
        }

        &-exitbutton {
            position: absolute;
            top: -15%;
            right: -5%;
            background: $black;
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            pointer-events: all;
            cursor: pointer;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 25%;
                width: 50%;
                height: .1rem;
                background: $white;
            }

            &:before {
                transform: rotate(45deg) translate(0%, 0%);
            }

            &:after {
                transform: rotate(-45deg) translate(0%, 0%);
            }
        }

        &-canvas {
            position: fixed;
            z-index: 100000;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($black, .75);

            animation: {
                name: fadeIn;
                duration: 250ms;

            }
        }
    }
}
